DESTINATION_USER_ID=Ue07f6cfc166421256bb2a560c78f22f3
LINE_CHANNEL_ACCESS_TOKEN=04cuqsvPKu8W1j/25pK23maiYt+B9ApekKVasGrIcU6ST9WObP64rRAZ7QE2NFlsRYHeCOmKKP3arh0RyRxjG1ZzGnyJvrK/jyq67fxYDRT+qh/YH+58tiUzvq41T8fNzhdo9GkZEsoowsePy7HO1QdB04t89/1O/w1cDnyilFU=